<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link href="/public/styles/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav class="navigation">
        <div class="container-nav-list-menu">
          <div class="wrapper-logo-foods">
            <figure class="logo-foods">
              <img src="" alt="" />
            </figure>
            <h1>
              Sna<span class="logo-title-c">c</span>k
              <span class="logo-title-digger"><a href="<%= url %>profile" class="logo-title-d">D</a>igger</span>
            </h1>
          </div>
          <div class="wrapper-nav-list-menu">
            <div class="nav-icon-book-home">
              <i data-feather="book-open" class="icon-book-open" onclick="HandleDropDown()"></i>
            </div>
            <div class="con-wrapp-icon-button">
              <div class="wrapper-icon-button">
                <div class="nav-icon-shopping">
                  <a href="./home/shopping-cart">
                    <div class="nav-shopping-wrapper">
                      <i data-feather="shopping-cart" class="nav-icon-shopping-card"></i>
                    </div>
                  </a>
                  <a href="">
                    <div class="nav-bell-wrapper">
                      <i data-feather="bell" class="nav-icon-bell"></i>
                    </div>
                  </a>
                </div>
                <div class="con-prof-username">
                  <div class="home">
                    <a href="<%= url %>home">Home</a>
                  </div>
                  <div class="profile">
                    <a href="<%= url %>profile">Profile</a>
                  </div>
                  <div class="username">
                    <a href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= userName %></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="section">
      <div class="wrapper-profile-username">
        <div class="con-profile-username">
          <div class="con-profile-wrapp">
            <div class="con-profile-name">
              <label for="name">Name:</label>
              <input type="text" value="<%= nama %>" class="input-profile-name" disabled />
            </div>
            <div class="con-profile-email">
              <label for="email">Email:</label>
              <input type="text" value="<%= email %>" class="input-profile-email" disabled />
            </div>
          </div>
        </div>
        <div class="con-username-wrapp"></div>
      </div>
    </section>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
    <script src="../../../public/script/index.js"></script>
  </body>
</html>
