<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link href="/public/styles/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="wrapper-profile-username">
      <div class="con-profile-wrapp">
        <div class="con-profile-name">
          <label for="name">Name:</label>
          <input type="text" />
        </div>
        <div class="con-profile-email">
          <label for="name">Email:</label>
          <input type="email" />
        </div>
      </div>
      <div class="con-username-wrapp"></div>
    </div>
  </body>
</html>
